body {
    background-color: #324b5c;
    color:#dee0e0;
}

.jumbotron {
    height: 200px;
    background-image: url("./assets/weather.jpg");
    background-size: cover;
    background-position: 0px 0px;
    color: white;
    margin-bottom: 0px;
}

label {
    display: block;
}

#searchForm {
    display: flex;
    justify-content: space-between;
}

#cityInput {
    width: 85%;
    margin-right: 10px;
}

#btnSearch {
    background-color: #939699;
    border-color: #939699;
    width: 10%;
    max-width: 60px;
    min-width: 40px;
}

li {
    cursor: pointer;
}
li:hover {
    text-decoration: underline;
    opacity: 90%;
}

#currentUv {
    padding: 5px;
    border-radius: 2px;;
}

div .card,
.list-group-item {
    background-color:#cad9de;
    color: #324b5c;
}

div .day-col {
    padding: 0px;
    margin: 0px;
}

/* Weather icon colors */
.fa-sun {
    color: yellow;
}
.fa-cloud {
    color: white;
}
.fa-cloud-sun-rain {
    color: gray;
}
.fa-cloud-showers-heavy {
    color: cornflowerblue;
}

i.icon {
    font-size: 40px;
}
